/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */



.font-type-1 {
    font-size: 64px;
    font-weight: bold;
}

.font-type-2 {
    font-size: 45px;
    font-weight: bold;
}

.font-type-2-semi{
    font-size: 45px;
    font-weight: 600;
}

.font-type-3 {
    font-size: 25px;
    font-weight: 500;
}

.font-type-4 {
    font-size: 20px;
    font-weight: 600;
}

.font-type-5 {
    font-size: 18px;
    font-weight: 500;
}

.font-type-6 {
    font-size: 16px;
    font-weight: 400;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}


.display-flex {
    display: flex;
}


/* nav-bar styles */

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-menu-list {
    list-style: none;
    gap: 30px;
}

.menu-item {
    text-decoration: none;
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}