/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */

.font-type-1 {
    font-size: 4rem;
    font-weight: bold;
}

.font-type-2 {
    font-size: 2.8rem;
    font-weight: bold;
}

.font-type-2-semi {
    font-size: 2.8rem;
    font-weight: 600;
}

.font-type-2-medium {
    font-size: 2.8rem;
    font-weight: 500;

}

.font-type-3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.font-type-4 {
    font-size: 1.25rem;
    font-weight: 600;
}

.font-type-5 {
    font-size: 18px;
    font-weight: 500;
}

.font-type-6 {
    font-size: 1rem;
    font-weight: 400;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

#feature-font {
    color: #FF900E;
}

.display-flex {
    display: flex;
}

.btn-primary {
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
}


main {
    max-width: 1440px;
    margin: 0 auto;
}

/* nav-bar styles */

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-menu-list {
    list-style: none;
    gap: 30px;
}

.menu-item {
    text-decoration: none;
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}


/* banner styles */
.banner-content {
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-image {
    width: 100%;
    padding-bottom: 45px;
}

/* header styles */
.header {
    background-color: rgba(255, 144, 14, 0.1);
}


/* feature section styles */

.feature {
    align-items: center;
    padding: 85px 61px 130px 61px;
    gap: 73px;

}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


/* full feature section styles */

.full-feature-section {
    gap: 145px;

}

.full-feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.full-feature-para {
    margin-bottom: 30px;
}

.full-feature-box {
    padding: 30px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    border-radius: 8px;
}

.box-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-full-feature {
    margin-left: - 92px;
    margin-top: - 100px;
}

#experience-badge {
    margin-left: -92px;
    margin-top: -120px;
    padding: 45px 42px;
}

/* facts section styles */

.facts-section {
    margin-top: 130px;
}

.card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0;
}

.fact-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.facts-number {
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    margin-bottom: 20px;
    margin-top: 0px;
}

.fact-section-subtitle {
    width: 540px;
    margin-top: 24px;
    margin-bottom: 100px;
}

.fact-section-title {
    margin-bottom: 0;
}


/* sponsor section styles */

.sponsor {
    margin: 0 auto;

}

.sponsor-headline {
    margin-top: 180px;
    margin-bottom: 24px;

}

.sponsor-intro {
    justify-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-subtitle {
    max-width: 540px;

}

.sponsor-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 130px;
}

.sponsor-list img {
    filter: grayscale(100%);
}


/* footer section */

.footer {
    border: none;
    margin: 0 auto 216px;
    text-align: center;
    width: 1440px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 244, 231, 1);
    border-radius: 8px;
}

.footer-content {
    margin: 0;
}

/* responsive media query */

@media screen and (max-width:576px) {

    .nav-bar,
    .nav-menu-list,
    .feature,
    .full-feature-section {
        flex-direction: column;
    }

    .feature-image,
    .fact-cards,
    .sponsor-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .fact-cards,
    .sponsor-list {
        justify-items: center;
        gap: 24px;
    }

    #architect-image,
    .footer,
    .fact-section-subtitle {
        width: 100%;
    }

    #experience-badge{
        margin: 20px;
    }


}

@media screen and (min-width:577px) and (max-width:992px) {
    .feature,
    .full-feature-section {
        flex-direction: column;
        margin: 10px;
    }

    .fact-cards,
    .sponsor-list {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }

    .feature-description,
    .fact-section-description {
        justify-items: center;
        text-align: center;

    }

    #architect-image,
    .footer,
    .fact-section-subtitle {
        width: 100%;
    }

    #experience-badge{
        margin: 50px 250px 20px 250px;
    }

}